*{
   margin: 0;padding: 0;

}
.container-of-navbar{
   background-color: #4a5759;
   display: flex;
   height: 60px;
}
.alldives{
   display: flex;
   flex-direction: row;
   width: 100%;
}
.navbar-section{
   display: flex;
   align-items: center;
   justify-content: end;
   width: 70%;
}
nav{
   width: 70%;
   height: 50%;
   display: flex;
   justify-content: end;
}
.home{
   margin-right: 20px;
   text-decoration: none;
   font-size: 21px;
   color: white;
}
.companylogo{
   /* margin-left: 15px; */
   display: flex;
   width: 30%;
   justify-content: center;
   align-items: center;
}
.logo-section{
   color: white;
   margin-left: 5px;
}
.Login{
   margin-right: 10px;
   height: 100%;
   width: 20%;
   margin-left: 10px;
   border-radius: 50px;
   border: 0px;
   cursor: pointer;
   background-color: #DEDBD2;
}
.login{
   background-color: #DEDBD2;
   cursor: pointer;
   margin-right: 50px;
   height: 100%;
   width: 20%;
   margin-left: 10px;
   border-radius: 50px;
   border: 0px;
}
.phone-section-image{
   display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: end;
    margin-right: 9px;
    visibility: hidden;
}
.phone-section{
   /* background-color: #DEDBD2; */
   position:absolute;
   display: flex;
   justify-content: end;
   width: 100vw;
   height: 100vh;
   visibility: hidden;
   
}
.cross-section-image{
   height: 10%;
   width: 100%;
   display: flex;
   justify-content: end;
}
.crossbutton{
   height: 51%;
   width: 10%;
   padding: 18px;
}
.inner-phone-section{
   background-color: #4a5759;
   height: 100%;
   width: 100%;
}
.interfaceimage{
   height: 10%;
   width: 21%;
}
.nav-innersection{
   /* background-color: aliceblue; */
   height: 70px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.home1{
   text-decoration: none;
}
.navbar-phone-section{
   display: flex;
   flex-direction: column;
}
.inner-text{
   font-size: 30px;
   color: #b9bdbe;
   
}
.Login1{
   background-color: #f0f4f5;
   height: 55%;
    width: 30%;
    border-radius: 50px;
    border: 0px;
}
@media(min-width:900px) and (max-width:1000px){
   .Login{
      margin-right: 10px;
      height: 100%;
      width: 15%;
      margin-left: 10px;
     
   }
   .login{
      width: 15%;
      margin-right: 30px;
   }
   .home{
      margin-right: 15px;
      font-size: 21px;
   }
   nav{
      width: 100%;
      height: 50%;
   }
}
@media(min-width:1000px) and (max-width:1280px){
   .Login{
      margin-right: 10px;
      height: 100%;
      width: 15%;
      margin-left: 10px;
     
   }
   .login{
      width: 15%;
      margin-right: 30px;
   }
   .home{
      margin-right: 15px;
      font-size: 21px;
   }
   nav{
      width: 100%;
      height: 50%;
   }
}
@media(min-width:800px) and (max-width:900px){
   .Login{
      margin-right: 10px;
      height: 100%;
      width: 15%;
      margin-left: 10px;
     
   }
   .login{
      width: 15%;
      margin-right: 30px;
   }
   .home{
      margin-right: 15px;
      font-size: 21px;
   }
   nav{
      width: 100%;
      height: 50%;
   }
}
@media(min-width:340px) and (max-width:480px){
   .Login{
      /* margin-right: 10px;
      height: 100%;
      width: 15%;
      margin-left: 10px; */
      display: none;
     
   }
   .login{
      /* width: 15%;
      margin-right: 30px; */
      display: none;
   }
   .home{
      /* margin-right: 15px;
      font-size: 21px; */
      display: none;
   }
   nav{
      /* width: 100%;
      height: 50%; */
      width: 0%;
      display: none;
   }
   .navbar-section{
      width: 0%;
   }
   .companylogo{
      /* margin-left: 15px; */
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      
   }
   .phone-section-image{
      visibility: visible;
   }
   .interfaceimage{
      height: 57%;
      width: 23%;
   }
   
}
@media(min-width:470px) and (max-width:700px){
   .Login{
      /* margin-right: 10px;
      height: 100%;
      width: 15%;
      margin-left: 10px; */
      display: none;
     
   }
   .login{
      /* width: 15%;
      margin-right: 30px; */
      display: none;
   }
   .home{
      /* margin-right: 15px;
      font-size: 21px; */
      display: none;
   }
   nav{
      /* width: 100%;
      height: 50%; */
      width: 0%;
      display: none;
   }
   .navbar-section{
      width: 0%;
   }
   .companylogo{
      /* margin-left: 15px; */
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      
   }
   .phone-section-image{
     
      visibility: visible;
   }
   .interfaceimage{
      height: 57%;
      width: 10%;
   }
}