*{
   margin: 0;
   padding: 0;
}
.container{
   background-color: rgb(176, 182, 182);
   height: 100vh;
   width: 100vw;
   display: flex;
   justify-content: center;
   align-items: center;
   
}
.both-section{
   width: 80%;
   height: 80%;
   box-shadow: 5px 5px 5px black;
   background-color: black;
   display: flex;
   flex-direction: row;
   /* display: inline-flex; */
}
.left-section{
   background-color: rgb(235, 246, 246);
   /* display: flex; */
   display: flex;
   height: 100%;
   width: 50%;
}
.right-section{
   display: flex;
   background-color: rgb(64, 88, 88);
   background: linear-gradient(to bottom right, rgb(64, 88, 88), rgb(183, 203, 203));
   height: 100%;
   width: 50%;
}
.left-section-all-div{
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
form{
   height: 100%;
   width: 100%;
   display: contents;
}
.emailsection{
   margin-top: 15px;
   height: 6%;
   width: 100%;
   display: flex;
   justify-content: center;
}
#email1{
   padding-left: 8px;
   background-color: rgb(205, 214, 222);
}
#password1{
   padding-left: 8px;
   background-color: rgb(205, 214, 222);
}
#button1{
   background-color: rgb(78, 106, 66);
   cursor: pointer;
   color: aliceblue;
   transition: all 0.5s linear;
}
#button1:hover{
   background-color: rgba(78, 106, 66, 0.701);
}
.email,.password,.button{
   width: 50%;
   height: 100%;
   border-radius: 10px;
   outline: none;
   border: 0px;
}

.allimage,.or{
   margin-top: 10px;
   display: flex;
   width: 100%;
   justify-content: center;
   flex-direction: row;
   gap: 20px;
}
.image{
   height: 30px;
   width: 30px;
}
.all-div{
   display: flex;
   width: 100%;
   height: 100%;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.heading-welcome{
   color: aliceblue;
}
.somenote{
   display: flex;
   width: 100%;
   margin-top: 10px;
   /* justify-content: center; */
}
.note{
   margin-left: 10%;
   margin-right: 10%;
   text-align: center;
   color: aliceblue;
}
.notaccount{
   width: 100%;
   height: 6%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
}
.singup-button{
   width: 40%;
   height: 100%;
   border-radius: 50px;
   border: 0px;
   background-color: rgb(98, 132, 132);
   color: aliceblue;
   transition: all 0.4s linear;
   cursor: pointer;
}
.singup-button:hover{
   background-color: aliceblue;
   color: black;
}
@media (min-width:800px) and (max-width:1000px){
   .emailsection{
      height: 8%;
     
   }
   .email,.password,.button{
      width: 70%;
     
   }
   .singup-button{
      width: 60%;
      
   }
   .notaccount{
      height: 8%;
   }
   
}
@media(max-width:800px){
   .emailsection{
      height: 8%;
     
   }
   .email,.password,.button{
      width: 80%;
     
   }
   .singup-button{
      width: 80%;
      
   }
   .notaccount{
      height: 10%;
   }
}
